<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="innerContainer">
    <div id="myDIV" class="header">
      <h2 style="margin:5px"><%= pageTitle %></h2>

     
      <!-- input text box -->
      <input type="text" id="myInput" placeholder="Title...">
      <!-- input buttons -->

      <button onclick="newElement()" class="addBtn">Add</button><br>
      <button class="markAll">Mark All</button> 
      <button class="unmarkAll">Un-Mark All</button> 
      <button class="active">Active</button>
      <button class="clearCompleted">Clear Completed</button>
      <button class="completed">Completed</button>
    </div>
    <!-- input displaying table or list -->
    <div id="inputLi" class="inputDiv">
      <ul id="myUL">
       <% for (var i=0;i<toShowData.length ;i++) {%>
       <li><span data-id='<%= toShowData[i].id %>' class='inputWrappText'><%= toShowData[i].todoapp %></span>
         <input type='checkbox' class='checkBox'>
         <button id='closeButn' class='close'>x</button>
       </li>
        <% } %>

      </ul>    
    </div>
  </div>
<script src="/javaScript/main.js"></script>
</body>
</html>
