<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>


<link rel="stylesheet" type="text/css" href="css/style.css">
</head>
<body>
  <div class="innerContainer">
    <div id="myDIV" class="header">
      <h2 style="margin:5px"><%= pageTitle %></h2>

     
      <!-- input text box -->
      <input type="text" id="myInput" placeholder="Title...">
      <!-- input buttons -->
      <button onclick="newElement()" class="addBtn">Add</button><br>
      <button class="allTask">All Task</button>
      <button class="markAll">Mark All</button> 
      <button class="unmarkAll">Un-Mark All</button> 
      <button class="active">Active</button>
      <button class="clearCompleted">Clear Completed</button>
      <button class="completed">Completed</button>
    </div>
    <!-- input displaying table or list -->
    <div id="inputLi" class="inputDiv">
      <ul id="myUL">
        <% for (var i=0;i<toShowData.length ;i++) {%>
          <% if(toShowData[i].status == true) {%>
           <li class="liAllMark">
              <input type='checkbox' class='checkBox' checked>
              <input type='text' data-id='<%= toShowData[i].id %>' class='inputWrappText' value='<%= toShowData[i].todoapp %>'>
              <button id='closeButn' class='close'>x</button>
           </li>
          <% } else {%>
            <li>
              <input type='checkbox' class='checkBox'>
              <input type='text' data-id='<%= toShowData[i].id %>' class='inputWrappText' value='<%= toShowData[i].todoapp %>'>
              <button id='closeButn' class='close'>x</button>
            </li>
          <% } %>
        <% } %>
  </div>

    <script>
    /*jquerry for switching div */
    $('.allTask').click(function()
      {
        $('.inputDiv').removeClass('disp');
        $('.completedDiv').addClass('disp');
      })
      /*View grid*/
      $('.completed').click(function()
       {
        $('.completedDiv').removeClass('disp');
        $('.inputDiv').addClass('disp');
       })
  
  </script>
<script src="/javaScript/main.js"></script>
</body>
</html>
